
#anasayfa{
    margin: 0;
    padding: 0;
    background-color: #b1b1b1;
    float: left;
    height: auto;
}
#menu{
    width: 29.9%;
    height: 100%;
    position: fixed;
    background-color:#848080;

}
#profil img{
    width: 100%;
    height: 100vh;
 }
 #navbar{
     width: 70%;
     height: 70px;
     position: fixed;
     top: 0px;
     padding-top: 15px;
     margin-left: 25px;
     margin-right: 25px;
     padding-left: 15px;
     text-align: center;
     background-color: #b1b1b1;
     z-index: 1;
 }
 .nav{
     width: 100px;
     padding: 15px;
     border: 1px solid;
     margin: 5px;
     border-radius: 15px;
     color: black;
     cursor: pointer;
     float: left;
 }
 .nav:hover{
     background-color: black;
     color: white;
 }
#bilgialanı{
    width: 70%;
    height: auto;
    position: relative;
    padding-top: 50px;
    left: 402px;
    background-color: #b1b1b1;
    overflow: hidden;
}
#bilgialanı>#girisyazısı{
    position: relative;
    height: 100vh;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px; 
    width: auto;
    font-size: 20px;
}
#girisyazısı>p{
    text-align: center;
    position: relative;
    top: 100px;
    font-size: 18px;
    font-family: 'Anton', sans-serif;
}
#hakkında{
    width: auto;
    height: 100vh;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px ;
    position: relative;
    right: 0;
}
#hakkında > h2 {
    width: 700px;
    border-bottom: 2px solid black;
    left: 100px;
    position: relative;
    text-align: center;
    color: #b1913a;
    font-size: 40px;
}
#hakkındabir{
    position: relative;
    margin-left: 20%;  
    margin-top: 10%;
    margin-bottom: 25px;
    width: 50%;
    height: auto;
    padding: 10px;
    font-size: 20px;
}
.renk{
    color:#876c22;
}
.indir{
    position: relative;
    width: auto;
    padding: 15px;
    border: 1px solid;
    margin: 5px;
    border-radius: 15px;
    background-color: #876c22; 
    color: black;
    cursor: pointer;

}

.indir:hover{
    background-color: black;
    color: white;
}

#egitim{
    width: auto;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px ;
    position: relative;
}
#egitim > h2 {
    width: 700px;
    border-bottom: 2px solid black;
    left: 100px;
    position: relative;
    text-align: center;
    color: #b1913a;
    font-size: 40px;
}
#lise{
    position: relative;
    margin-left: 25px;  
    margin-right: 25px;
    width: auto;
    height: auto;
    font-size: 20px;
    margin-bottom: 25px;
}
.lisans{
    position: relative;
    margin-left: 25px;  
    margin-right: 25px;
    width: auto;
    height: auto;
    margin-bottom: 25px;
    padding: 10px;
    font-size: 20px;
}
#projeler{
    width: auto;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px ;
    position: relative;
    right: 0;
}
#projeler > h2 {
    width: 700px;
    border-bottom: 2px solid black;
    left: 100px;
    position: relative;
    text-align: center;
    color: #b1913a;
    font-size: 40px;
}
#projebir{
    position: relative;
    margin-left: 70px;
    margin-bottom: 25px;
    width: 80%;
    height: auto;
    text-align: center;
}
#projebir>p{
    text-align: center;
}
#projeiki{
    position: relative;
    margin-left: 70px;
    margin-bottom: 25px;
    width: 80%;
    height: auto;
    text-align: center;
}#projeüc{
    position: relative;
    margin-left: 70px;
    margin-bottom: 25px;
    width: 80%;
    height: auto;
    text-align: center; 
}
#sertifikalar{
    width: auto;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px ;
    position: relative;
    right: 0;
}
#sertifikalar > h2 {
    width: 700px;
    border-bottom: 2px solid black;
    left: 100px;
    position: relative;
    text-align: center;
    color: #b1913a;
    font-size: 40px;
}
#tablo{
    position: relative;
    width: 92%;
    height: auto;
    padding: 25px;
}
#tablo > img{
    margin: 25px;
}
#sertifikabir{
    position: relative;
    width: 200px;
    height: 200px;
}
#sertifikaiki{
    position: relative;
    width: 200px;
    height: 200px;
}
#sertifikaüç{
    position: relative;
    width: 200px;
    height: 200px;
}
#sertifikadört{
    position: relative;
    width: 200px;
    height: 200px;
}
#sertifikabes{
    position: relative;
    width: 200px;
    height: 200px;
}
#sertifikaaltı{
    position: relative;
    width: 200px;
    height: 200px;
}
#iletisim{
    width: auto;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px ;
    position: relative;
    right: 0;
}
#iletisim > h2 {
    width: 700px;
    border-bottom: 2px solid black;
    left: 100px;
    position: relative;
    text-align: center;
    color: #b1913a;
    font-size: 40px;
    
}
#iletisimbir{
    position: relative;
    margin-left: 70px;
    width: 80%;
    height: auto;
    display: inline-flex;
    
}
#sosyal{
    position: relative;
    width: 40%;
    height: 500px;
    margin-left: 30%;
}

#sosyal>h2{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
    border-bottom: 2px dotted black;
}
#tek>i{
    color: #b1913a;
    margin-left: 15px;
    float: left;
    width: 10%;
    position: relative;
    top: 17px;
    font-size: 25px;
}
#tek>h3{
    color: black;
    float: left;
    margin-left: 15px;
}
#tek{
    float: left; 
    width: 100%;
}
#tel{
    float: left; 
    width: 100%;
}
#tel>i{
    color: #b1913a;
    margin-left: 15px;
    float: left;
    width: 10%;
    position: relative;
    top: 17px;
    font-size: 25px;
}
#tel>h3{
    position: relative;
    left: 15px;
    color: black;
}
#face{
    float: left; 
    width: 100%;
}
#face>i{
    color: #b1913a;
    margin-left: 15px;
    float: left;
    width: 10%;
    position: relative;
    top: 17px;
    font-size: 30px;
}
#face>a{
    position: relative;
    top: 18px;
    left: 15px;
    color: black;
    font-size: 20px;
    text-decoration: none ;
}
#linke{
    position: relative;
    top: 45px;
    float: left; 
    width: 100%;
}
#linke>i{
    position: relative;
    color: #b1913a;
    margin-left: 10px;
    font-size: 40px;
    float: left;
}
#linke>a{
    position: relative;
    top: 10px;
    left: 15px;
    color: black;
    font-size: 20px;
    text-decoration: none ;
}
#site{
    position: relative;
    top: 65px;
    float: left; 
    width: 100%;
}
#site>i{
    position: relative;
    color: #b1913a;
    margin-left: 8px;
    font-size: 40px;
    float: left;
}
#site>a{
    position: relative;
    top: 10px;
    left: 15px;
    color: black;
    font-size: 20px;
    text-decoration: none ;
}
#mesaj{
    position: relative;
    width: 60%;
    height: 500px;
}
